<html>
    <head>
        <title>Login</title>  
        <link href="/assets/css/login.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
        <link rel="shortcut icon" type="image/jpg" href="/assets/images/Logo Rund.png"/>
    </head>

    <body>

        <div class="wrapperFlex">
            <div class="wrapper">
            
                <img class="imagetitle" src="/assets/images/Scharf Angebraten (Schrift).jp2">
                <p><%= message %></p>
                <div class="formWrapper">
                    <form method="POST" action="/login">
                        <input class="password" name="password" type="password"> <br>
                        <input class="submit" type="submit">
                    </form>
                </div>
            </div>
        </div>
            
    </body>
</html>